@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);

    --kumbh-sans: 'Kumbh Sans', sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

html, body {
    height: 100%;
}

.age {
    font-weight: 400;
}

.stats {
    font-weight: 700;
}

hr {
    opacity: 0.3;
}

/* -------------------------------------------------------- */

body {
    background:
    url(./images/bg-pattern-bottom.svg)
    bottom -600px right -750px no-repeat,
    url(./images/bg-pattern-top.svg)
    top -600px left -750px no-repeat;
    background-color: var(--dark-cyan);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--kumbh-sans);
    color: var(--very-dark-desaturated-blue);
}

.card {
    background-color: white;
    overflow: hidden;
    border-radius: 15px;
    width: 330px;
    box-shadow: 0px 30px 50px hsl(185, 74%, 32%);
}

.profile-pic {
    border-radius: 100%;
    border: 5px solid white;
    position: absolute;
    top: -38%;
}

.profile-details {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 0 25px 0;
}

.profile-stats {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);

    text-align: center;
    padding: 25px;
}

.type, .location, .age {
    color: var(--dark-grayish-blue);
}

.stats {
    font-size: 18px;
    margin-bottom: 5px;
}

.type {
    font-size: 10px;
    letter-spacing: 1px;
}

.location {
    font-size: 13px;
}

.name-age {
    margin-bottom: 8px;
    font-weight: 700;
}

@media (min-width: 1157px) {
    body {
        background:
        url(./images/bg-pattern-bottom.svg)
        bottom -600px right -250px no-repeat,
        url(./images/bg-pattern-top.svg)
        top -500px left -280px no-repeat;
        background-color: var(--dark-cyan);
    }
}