body {
    position: relative;
    height: 100vh;
    margin: 0;
    font-size: 18px;
    font-family: 'Hanken Grotesk', sans-serif;
}

footer {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
}



/* WHOLE CARD */

.card {
    background-color: white;
    box-shadow: 10px 20px 45px hsl(221, 100%, 96%);
    border-radius: 30px;

    /* centers card */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* aligns content horizontally */
    display: flex;
}

.results, .summaries {
    width: 326px;
    height: 453px;

    /* prevents card from getting wider when using padding */
    box-sizing: border-box;
}



/* RESULT SIDE */
.results {
    background-image: linear-gradient(
        hsl(252, 100%, 67%),
        hsl(241, 81%, 54%));
    border-radius: 30px;
    color: white;
    text-align: center;
    padding: 10px 50px 10px 50px;
}

.circle {
    background-image: linear-gradient(
        hsla(256, 72%, 46%, 1), 
        hsla(241, 72%, 46%, 0));
    
    /* circle size and shape */
    border-radius: 100%;
    width: 178px;
    height: 178px;
    
    /* center aligned with text align */
    display: inline-block;

    /* base position for elements */
    position: relative;
    
    /* adjustments */
    margin-top: 10px;
}

/* centers div inside circle div */
.circle div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#score, .circle p {
    /* removes margin and padding in circle elements*/
    margin: 0;
    padding: 0;
}

/* ----------- text color and size adjustments -------------- */
.details p, #result-title {
    color: hsl(241, 100%, 89%);
}

.circle p {
    color: rgba(200, 199, 255, 0.678);
}

.circle p, .details p {
    font-size: 0.9em;
}
#rating {
    font-size: 1.6em;
    margin-bottom: 5px;
}

#score {
    /* sets size of result score */
    font-size: 3.7em;
}
/* ----------------------------------------------------------- */



/* SUMMARY SIDE */

.summaries {
    /* sets all elements to same size */
    display: flex;
    flex-direction: column;

    /* sets padding */
    padding: 10px 35px 10px 35px;
}

.category {
    /* sets size and corner of divs */
    border-radius: 10px;
    height: 50px;
    margin-bottom: 15px;

    /* arranges elements horizontally */
    display: flex;
    flex-direction: row;

    /* puts elements to the end of each side */
    justify-content: space-between;
}

.category div {
    /* arranges elements horizontally */
    display: flex;
    flex-direction: row;
}

/* colors of each category */
.reaction {
    color: hsl(0, 100%, 67%);
    background-color: hsla(0, 100%, 67%, 0.082);
}

.memory {
    color: hsl(39, 100%, 56%);
    background-color: hsl(39, 100%, 56%, 0.082);
}

.verbal {
    color: hsl(166, 100%, 37%);
    background-color: hsl(166, 100%, 37%, 0.082);
}

.visual {
    color: hsl(234, 85%, 45%);
    background-color: hsl(234, 85%, 45%, 0.082);
}

/* ------- adjustments ------- */
#summary-title, .scores {
    color: hsl(224, 30%, 27%);
}

.items {
    color: hsla(224, 30%, 27%, 0.5);
}

.scores {
    margin-right: 3px;
}

.scores, .items {
    font-size: 0.9em;
    font-weight: 700;
}

#summary-title {
    margin-bottom: 25px;
}

.summary-half p {
    position: absolute;
    right: 15px;
}

.summaries img {
    margin: 0 11px 0 13px;
}

.category h3 {
    margin: 15px 0 0 0;
    font-size: 0.9em;
}

.summary-scores {
    margin: 15px 15px 0 0;
    font-size: 0.9em;
}

.reaction p, .memory p, .verbal p, .visual p {
    margin: 13px 15px 0 0;
}
/* ---------------------------- */

.continue-btn {
    background-color: hsl(224, 30%, 27%);
    text-align: center;
    color: white;
    cursor: pointer;
    padding: 15px 0 15px 0;
    border-radius: 25px;
    text-decoration: none;
    margin-top: 20px;
    font-size: 0.9em;
}

.continue-btn:hover, .continue-btn:focus {
    background-image: linear-gradient(
        hsl(252, 100%, 67%),
        hsl(241, 81%, 54%));
    text-align: center;
    color: white;
    cursor: pointer;
    padding: 15px 0 15px 0;
    border-radius: 25px;
    text-decoration: none;
    margin-top: 20px;
    font-size: 0.9em;
}