@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-size: 18px;
    font-family: 'Hanken Grotesk', sans-serif;
}

main {
    min-height: inherit;
}

.card {
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.results {
    background-image: linear-gradient(
        hsl(252, 100%, 67%),
        hsl(241, 81%, 54%));
    border-radius:  0 0 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 45%;
    color: white;
    padding: 35px 50px 35px 50px;
}

.results h3 {
    color: hsl(241, 100%, 89%);
}

.circle {
    background-image: linear-gradient(
        hsla(256, 72%, 46%, 1), 
        hsla(241, 72%, 46%, 0));
    border-radius: 100%;
    width: 160px;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0 20px 0;
}

.circle h1 {
    font-size: 3.6em;
}

.circle p, .details p {
    font-size: 0.9em;
    color: hsl(241, 100%, 89%);
}

.circle p {
    opacity: 0.6;
}

.details {
    text-align: center;
}

.details p {
    margin-top: 10px;
}

.summaries {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 35px 35px 35px 35px;
    flex-basis: 55%;
}

.summaries h3 {
    margin-bottom: 25px;
}

.category {
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 15px;
    font-size: 0.9em;
}

.category, .category div {
    display: flex;
    flex-direction: row;
}

.category img {
    width: 18px;
    margin: 0 11px 0 0;
}

.summaries h3, .scores {
    color: hsl(224, 30%, 27%);
}

.items {
    color: hsla(224, 30%, 27%, 0.5);
}

.scores {
    margin-right: 3px;
}

.scores, .items {
    font-size: 0.9em;
    font-weight: 700;
}

.reaction {
    color: hsl(0, 100%, 67%);
    background-color: hsla(0, 100%, 67%, 0.082);
}

.memory {
    color: hsl(39, 100%, 56%);
    background-color: hsl(39, 100%, 56%, 0.082);
}

.verbal {
    color: hsl(166, 100%, 37%);
    background-color: hsl(166, 100%, 37%, 0.082);
}

.visual {
    color: hsl(234, 85%, 45%);
    background-color: hsl(234, 85%, 45%, 0.082);
}

.continue-btn {
    background-color: hsl(224, 30%, 27%);
    color: white;
    border: none;
    padding: 15px;
    border-radius: 30px;
    margin-top: 20px;
    font-size: 0.9em;
    cursor: pointer;
}

.continue-btn:hover {
    background-image: linear-gradient(
        hsl(252, 100%, 67%),
        hsl(241, 81%, 54%));
}

@media (min-width: 660px) {
    main {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card {
        flex-direction: row;
        box-shadow: 10px 20px 45px hsl(221, 100%, 96%);
        border-radius: 30px;
        width: 652px;
        height: 453px;
    }

    .results {
        border-radius: 30px;
    }

    .results, .summaries {
        flex-basis: 50%;
    }

    .circle {
        width: 178px;
        height: 178px;
    }
}