@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap');

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

main {
    background-color: hsl(30, 38%, 92%);
    min-height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------------------------------------------- */

.card {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    width: 337px;
    height: 610px;
}

.product-img-container img {
    max-width: 100%;
}

.product-details-container {
    display: flex;
    flex-direction: column;
    padding: 21px 25px 25px 25px;
}

.product {
    font-size: 0.9em;
    letter-spacing: 0.5em;
}

.product-details-container h1 {
    font-family: 'Fraunces', serif;
    font-size: 1.9rem;
    font-weight: 700;
    line-height: 1em;
    margin: 15px 0 15px 0;
    color: hsl(212, 21%, 14%)
}

p.information {
    line-height: 1.6em;
}

.product-details-container p, .old-price {
    color: hsl(228, 12%, 48%);
    font-size: 1em;
}

.prices {
    margin: 15px 0 15px 0;
    display: flex;
    align-items: center;
}

.current-price {
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces', serif;
    font-size: 2.8em;
}

.old-price {
    text-decoration: line-through;
    margin-left: 20px;
}

.add-to-cart {
    background-color: hsl(158, 36%, 37%);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1em;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-to-cart img {
    width: 14px;
    margin-right: 15px;
}

.add-to-cart:hover {
    background-color: hsl(159, 36%, 17%);
    cursor: pointer;
}

@media (min-width: 770px) {
    .card {
        flex-direction: row;
        width: 720px;
        height: 540px;
    }

    .product-img-container, .product-details-container {
        flex-basis: 50%;
    }

    .product-img-container {
        content: url("./images/image-product-desktop.jpg");
    }

    .product-details-container {
        padding: 35px;
    }

    .product {
        font-size: 1em;
    }
    
    .product-details-container h1 {
        font-size: 2.4rem;
        margin: 25px 0 28px 0;
    }
    
    p.information {
        font-size: 1.2em;
    }

    .prices {
        margin: 35px 0 35px 0;
    }

    .add-to-cart {
        padding: 20px;
        font-size: 1.2em;
    }

    .add-to-cart img {
        width: 18px;
    }
}