@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
    --clr-pri-orange: hsl(25, 97%, 53%);
    
    --clr-neu-white: hsl(0, 0%, 100%);
    --clr-neu-light-grey: hsl(217, 12%, 63%);
    --clr-neu-light-grey2: hsla(217, 12%, 63%, 0.096);
    --clr-neu-medium-grey: hsl(216, 12%, 54%);
    --clr-neu-dark-blue: hsl(213, 19%, 18%);
    --clr-neu-dark-blue2: hsl(213, 18%, 12%);
    --clr-neu-very-dark-blue: hsl(216, 12%, 8%);

    --ff-base: 'Overpass', sans-serif;

    --fw-regular: 400;
    --fw-bold: 700;
}

/* intuitive box sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* remove default margin */
* {
    margin: 0;
}

/* allows percentage-based heights in the application */
html,
body {
    height: 100%;
}

/* Typographic Tweaks
    add accesible line-height
    improve text rendering
*/
body {
    /* line-height: 1.7; */
    -webkit-font-smoothing: antialiased;
}

/* improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* remove built in form typography styles */
input,
button,
textarea,
select {
    font: inherit;
}

/*  avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3 {
  line-height: 1;
}

/* general styling */

body {
    background-color: var(--clr-neu-very-dark-blue);
    font-family: var(--ff-base);
    font-weight: var(--fw-regular);
    font-size: 15px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-image: linear-gradient(var(--clr-neu-dark-blue), var(--clr-neu-dark-blue2));
    color: var(--clr-neu-white);

    display: flex;
    flex-direction: column;

    width: 328px;
    height: 360px;

    padding: 22px;
    border-radius: 15px;
}

.star-container {
    background-color: var(--clr-neu-light-grey2);

    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.star-container img {
    width: 35%;
}

.text-container h2 {
    font-size: 1.7em;
    font-weight: 400;
    
    margin: 23px 0 15px 0;
}

.text-container p {
    color: var(--clr-neu-light-grey);

    font-weight: 400;
    font-size: 0.95em;

    line-height: 1.5em;
}

.rating-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 28px 0 28px 0;
}

.rate {
    background-color: var(--clr-neu-light-grey2); 
    color: var(--clr-neu-light-grey);
    
    display: flex;
    justify-content: center;
    align-items: center;

    width: 42px;
    height: 42px;
    border-radius: 100%;

    padding: 3px 0 0 1px;
}

.rate:active {
    background-color: var(--clr-pri-orange);
    color: var(--clr-neu-white);
}

.submit {
    background-color: var(--clr-pri-orange);
    color: var(--clr-neu-white);

    border: none;
    border-radius: 30px;

    width: 100%;
    height: 42px;
    
    padding-top: 5px;
    letter-spacing: 0.1em;
    font-weight: 700;
}

.submit:active {
    background-color: var(--clr-neu-white);
    color: var(--clr-pri-orange);
}

.thank-you-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.thank-you-container img {
    width: 146px;

    margin: 13px 0 25px 0;
}

.rate-text {
    background-color: var(--clr-neu-light-grey2);
    border-radius: 30px;
    padding: 7px 10px 5px 10px;
    color: var(--clr-pri-orange);
}

.thank-you-container .text-container h2 {
    margin-top: 30px;
}

.hidden {
    display: none;
}

.selected {
    background-color: var(--clr-neu-light-grey);
    color: var(--clr-neu-white);
}

@media (min-width: 450px){
    .card {
        border-radius: 30px;
        width: 415px;
        height: 420px;
        padding: 33px;
    }

    .thank-you-container img {
        width: 163px;
        margin: 10px 0 35px 0;
    }

    .rate-text {
        padding: 7px 20px 5px 20px;
    }

    .thank-you-container .text-container {
        margin-top: 10px;
    }

    .star-container {
        width: 50px;
        height: 50px;
        padding: 0 0 0 2px;
        margin-bottom: 38px;
    }

    .text-container h2 {
        font-size: 1.8rem;
    }

    .feedback-container .text-container p {
        font-size: 1.01em;
    }

    .thank-you-container .text-container p {
        font-size: 1.02em;
    }

    .rate {
        width: 52px;
        height: 52px;
        font-size: 1.1em;
    }

    .rate:hover {
        background-color: var(--clr-pri-orange);
        color: var(--clr-neu-white);
    }

    .submit {
        height: 46px;
    }

    .submit:hover {
        background-color: var(--clr-neu-white);
        color: var(--clr-pri-orange);
    }
}