body {
    background-color: hsl(212, 45%, 89%);
    color: hsl(218, 44%, 22%);
    font-family: 'Outfit', sans-serif;
    /* updated: position of relative replaced with display: flex
                to avoid using absolute property for card div */
    display: flex;
    justify-content: center;
    align-items: center;
    /* sets height to current window height of window tab */
    min-height: 100vh;
    /* removes default margin given to body element */
    margin: 0;
}

.qr-card {
    background-color: white;
    /* eyeballed the size of image */
    width: 300px;
    /* update: height: auto removed since align-item property
                automatically adjusts height according to children 
                element total height */
    /* rounded corners */
    border-radius: 15px;
    /* aligns both text and img to the center */
    text-align: center;
    /* puts shadow
        1st argument x axis offset
        2nd argument y axis offset
        3rd argument sets radius of blur
        last color of shadow */
    box-shadow: 0px 10px 20px hsla(219, 15%, 55%, 0.171);
    /* set position to absolute to use top and left properties */
    /* position: absolute;
    top: 50%;
    left: 50%; */
    /* offsets the x and y axis to the center of the element */
    /* transform: translate(-50%, -50%); */
}

.img-container {
    width: 100%;
    padding: 12px 12px 0 12px;

    /* prevent img from going beyond its conainers borders */
    box-sizing: border-box;
}

.qr-img {
    border-radius: 10px;
    width: 100%;
}

.qr-details {
    padding: 0px 30px 20px 30px;
}

.heading  {
    font-size: 1.3em;
    font-weight: 700;
}

.info{
    font-size: 0.9em;
    color: hsl(220, 15%, 55%);
}