@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root {
    --very-dark-blue: hsl(233, 47%, 7%);
    --dark-desaturated-blue: hsl(244, 38%, 16%);
    --soft-violet: hsl(277, 64%, 61%);

    --white: hsl(0, 0%, 100%);
    --white-main: hsla(0, 0%, 100%, 0.75);
    --white-stat: hsla(0, 0%, 100%, 0.6);

    --400: 400;
    --700: 700;

    --family-inter: 'Inter', sans-serif;
    --family-lexend-deca: 'Lexend Deca', sans-serif;
}

*, *::after, *::before {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

h1, .stats {
    color: var(--white);
}

.name {
    color: var(--white-stat);
    font-family: var(--family-lexend-deca);
    font-size: 0.8em;
    letter-spacing: 0.1em;
}

.stats {
    font-size: 1.5em;
    margin-bottom: 5px;
}

p {
    font-size: 15px;
    font-family: var(--family-inter);
    line-height: 1.7em;
    color: var(--white-main);
}

img {
    display: block;
    max-width: 100%;
}

html, body {
    height: fit-content;
}

/* /////////////////////////////////// */

body {
    background-color: var(--very-dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
}

.card {
    background-color: var(--dark-desaturated-blue);
    width: 88vw;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    max-width: 654px;
}

.card-img-div {
    background-color: var(--soft-violet);
}

.card-img-div img {
    mix-blend-mode: hard-light;
    opacity: 0.5;
}

.highlight {
    color: var(--soft-violet);
}

h1 {
    font-size: 1.7em;
    line-height: 1.2em;
    margin-bottom: 20px;
}

h1, .ctq-div {
    font-family: var(--family-inter);
}

.details-div {
    padding: 30px;
}

.ctq-div {
    margin-top: 25px;
}

.description {
    margin-bottom: 40px;
}

@media (min-height: 821px) {
    html, body {
        height: 100%;
    }
}

@media (min-width: 768px) {
    .card {
        display: flex;
    }

    .card-img-div {
        order: 2;
    }

    .details-div {
        order: 1;
    }
}